<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ldap="http://www.springframework.org/schema/ldap"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/ldap http://www.springframework.org/schema/ldap/spring-ldap.xsd">

    <bean id="defaultTlsDirContextAuthenticationStrategy"
          class="org.springframework.ldap.core.support.DefaultTlsDirContextAuthenticationStrategy"/>

    <ldap:context-source
            username="CN=App App,CN=Users,DC=GRSU,DC=local"
            password="1"
            url="ldap://ad-grsu.grsu.local:389"
            authentication-strategy-ref="defaultTlsDirContextAuthenticationStrategy"/>

    <ldap:ldap-template id="ldapTemplate"/>

    <bean id="personRepo" class="PersonRepoImpl">
        <property name="ldapTemplate" ref="ldapTemplate"/>
    </bean>

    <bean id="main" class="Main">
        <property name="personRepoImpl" ref="personRepo"/>
    </bean>

</beans>